stages: [deploy]

deploy_minikube:
  stage: deploy
  image: alpine:latest
  tags: [docker-runner]
  timeout: 60m
  variables:
    RELEASE: quotation-book
    NAMESPACE: demo
    VALUES_OVERLAY: values-minikube.yaml
    HELM_TIMEOUT: 25m
  before_script:
    - apk add --no-cache bash openssh-client curl tar coreutils gettext
    - chmod +x ci/deploy-minikube.sh
  script:
    - ci/deploy-minikube.sh
