stages: [deploy]
stages: [deploy]

deploy_minikube:
deploy_minikube:
  stage: deploy
  image: alpine:3.20
  tags: [docker-runner]

  variables:
    NAMESPACE: demo
    RELEASE: quotation-book
    VALUES_OVERLAY: values-minikube.yaml
    REMOTE_DIR: /tmp/qb
    # Fail fast if the cluster can't pull/start pods quickly.
    WAIT_TIMEOUT: 180s

  script:
    - chmod +x ci/deploy-minikube.sh
    - ci/deploy-minikube.sh
    - chmod +x ci/deploy-minikube.sh
    - ci/deploy-minikube.sh
