stages:
  - deploy

deploy_minikube:
  stage: deploy
  image: alpine:latest
  tags:
    - docker-runner

  before_script:
    - apk add --no-cache openssh-client bash
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H "$MINIKUBE_HOST" >> ~/.ssh/known_hosts

  script:
    - |
      ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" 'bash -lc "
        set -e

        echo \"== Cluster ==\"
        kubectl get nodes -o wide

        echo \"== Copy manifests ==\"
        rm -rf /tmp/k8s
        mkdir -p /tmp/k8s
      "'

    - scp -i ~/.ssh/id_ed25519 -r k8s/* "$MINIKUBE_USER@$MINIKUBE_HOST:/tmp/k8s/"

    - |
      ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" 'bash -lc "
        set -e

        echo \"== Ensure namespace ==\"
        kubectl get ns demo >/dev/null 2>&1 || kubectl create ns demo

        echo \"== Clean old resources ==\"
        kubectl -n demo delete deploy web --ignore-not-found
        kubectl -n demo delete svc web --ignore-not-found
        kubectl -n demo delete pods -l app=web --ignore-not-found

        echo \"== Apply new manifests ==\"
        kubectl apply -f /tmp/k8s

        echo \"== Wait for rollout ==\"
        kubectl -n demo rollout status deploy/web --timeout=180s
        kubectl -n demo wait --for=condition=Ready pod -l app=web --timeout=180s

        echo \"== Result ==\"
        kubectl -n demo get deploy,svc,pods -o wide

        echo \"== Open ==\"
        echo http://192.168.49.2:30080
      "'
