stages:
  - deploy

deploy_minikube:
  stage: deploy
  image: alpine:latest
  tags:
    - docker-runner
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H "$MINIKUBE_HOST" >> ~/.ssh/known_hosts

  script:
    - ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" "kubectl get nodes -o wide"
    - scp -i ~/.ssh/id_ed25519 -r k8s "$MINIKUBE_USER@$MINIKUBE_HOST:/tmp/k8s"
    - |
      ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" 'bash -lc "
        set -e

        kubectl apply -f /tmp/k8s

        # гарантированно пересоздаём pod (на случай изменений)
        kubectl -n demo rollout restart deployment/web

        # ждём готовности
        kubectl -n demo rollout status deployment/web --timeout=180s
        kubectl -n demo wait --for=condition=Ready pod -l app=web --timeout=180s

        # итог
        kubectl -n demo get deploy,svc,pods -o wide

        # подсказка как открыть (если NodePort=30080)
        echo Open: http://192.168.0.117:30080
      "'
