stages:
  - deploy

deploy_minikube:
  stage: deploy
  image: alpine:3.20
  tags:
    - docker-runner
  variables:
    NAMESPACE: demo
    RELEASE: quotation-book
    VALUES_OVERLAY: values-minikube.yaml
    REMOTE_DIR: /tmp/qb
    WAIT_TIMEOUT: "180s"
  before_script:
    - apk add --no-cache bash openssh-client curl tar coreutils gettext
  script:
    - chmod +x ci/deploy-minikube.sh
    - ./ci/deploy-minikube.sh
