stages:
  - deploy

deploy_minikube:
  stage: deploy
  image: alpine:latest
  tags:
    - docker-runner

  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - ssh-keyscan -H "$MINIKUBE_HOST" >> ~/.ssh/known_hosts

  script:
    # Проверка кластера
    - ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" "kubectl get nodes -o wide"

    # Очистить старые манифесты на Minikube VM
    - ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" "rm -rf /tmp/k8s && mkdir -p /tmp/k8s"

    # Скопировать свежие манифесты (в пустую папку)
    - scp -i ~/.ssh/id_ed25519 -r k8s/* "$MINIKUBE_USER@$MINIKUBE_HOST:/tmp/k8s/"

    # Деплой + рестарт + ожидание
    - |
      ssh -i ~/.ssh/id_ed25519 "$MINIKUBE_USER@$MINIKUBE_HOST" 'bash -lc "
        set -e

        echo --- /tmp/k8s/svc.yaml ---
        cat /tmp/k8s/svc.yaml

        kubectl apply -f /tmp/k8s/namespace.yaml
        kubectl apply -f /tmp/k8s/deploy.yaml

        # сервис пересоздаём, чтобы гарантированно обновился тип (NodePort vs ClusterIP)
        kubectl -n demo delete svc web --ignore-not-found
        kubectl apply -f /tmp/k8s/svc.yaml

        kubectl -n demo rollout restart deployment/web
        kubectl -n demo rollout status deployment/web --timeout=180s
        kubectl -n demo wait --for=condition=Ready pod -l app=web --timeout=180s

        kubectl -n demo get deploy,svc,pods -o wide
        echo Open: http://$MINIKUBE_HOST:30080
      "'
