global:
  namespace: demo

namespace:
  create: false
  name: demo

tls:
  enabled: true
  create: true
  name: quotation-book-tls
  secretName: quotation-book-tls

postgres:
  enabled: false
  persistence:
    size: 2Gi
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 768Mi
  service:
    type: NodePort

postgresMigration:
  enabled: false
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 256Mi

redis:
  enabled: false
  persistence:
    size: 512Mi
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 256Mi
  service:
    type: NodePort

rabbitmq:
  enabled: false
  persistence:
    size: 1Gi
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  service:
    type: NodePort

minio:
  enabled: false
  persistence:
    size: 2Gi
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 768Mi
  service:
    api:
      type: NodePort
    console:
      type: NodePort

minioMigration:
  enabled: false
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 256Mi

keycloak:
  enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 600m
      memory: 1024Mi
  service:
    https:
      type: NodePort

backend:
  enabled: false
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: NodePort

frontend:
  enabled: false
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  service:
    type: NodePort

pgadmin:
  enabled: false
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 150m
      memory: 256Mi
  service:
    type: NodePort

observability:
  enabled: false
  java:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
    service:
      type: NodePort
  javascript:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
    service:
      type: NodePort
  dotnet:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
    service:
      type: NodePort
