global:
  imagePullSecrets: []
  defaultRegistry: quay.io
  defaultTag: latest
  defaultPullPolicy: IfNotPresent
secrets:
  create: true
  name: quotation-book-secrets
  postgres:
    superuserPassword: ""
    appPassword: ""
    keycloakPassword: ""
  keycloak:
    adminPassword: ""
  redis:
    password: ""
  rabbitmq:
    adminPassword: ""
    senderPassword: ""
    recipientPassword: ""
  minio:
    rootPassword: ""
  backend:
    flaskSecretKey: ""
    keycloakClientSecret: ""

tls:
  enabled: false
  create: false
  secretName: quotation-book-tls
  name: quotation-book-tls
  certificateCrtB64: ""
  privateKeyB64: ""
  caRootCrtB64: ""
postgres:
  enabled: true
  name: quotation-book-postgres
  image:
    repository: dev_zone/postgres
    tag: '13.3'
    pullPolicy: IfNotPresent
  service:
    port: 5432
    type: NodePort
    nodePort: 30432
  persistence:
    enabled: true
    storageClass: ''
    size: 5Gi
  env:
    pgdata: /var/lib/postgresql/data/pgdata
    dbName: quotations
    dbUser: jason
    keycloakDbName: keycloak
    keycloakDbUser: keycloak
    enableSsl: true
    caCertPath: /opt/postgres/certs/sandbox_ca_root.crt
    superuserName: gpn
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
postgresMigration:
  enabled: true
  name: quotation-book-postgres-migration
  image:
    repository: dev_zone/redos/innersource/migrate
    tag: latest
    pullPolicy: IfNotPresent
  env:
    encrypt: true
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi
redis:
  enabled: true
  name: quotation-book-redis
  image:
    repository: dev_zone/redos/ubi8/redis-7
    tag: 20251009-cb55e4cc
    pullPolicy: IfNotPresent
  service:
    port: 6379
    tlsPort: 6380
    type: NodePort
    nodePorts:
      redis: 30379
      rediss: 30380
  persistence:
    enabled: true
    storageClass: ''
    size: 1Gi
  tls:
    enabled: true
    clientCertAuth: false
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi
rabbitmq:
  enabled: true
  name: quotation-book-rabbitmq
  image:
    repository: dev_zone/redos/ubi8/rabbitmq-313
    tag: 20251009-cb55e4cc
    pullPolicy: IfNotPresent
  service:
    port: 5672
    tlsPort: 5671
    managementPort: 15672
    management:
      type: NodePort
      nodePort: 31672
    type: NodePort
    nodePorts:
      amqp: 30672
      amqps: 30671
  persistence:
    enabled: true
    storageClass: ''
    size: 2Gi
  env:
    vhost: /
    enableSsl: true
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
minio:
  enabled: true
  name: quotation-book-minio
  image:
    repository: dev_zone/minio
    tag: latest
    pullPolicy: IfNotPresent
  service:
    apiPort: 9000
    consolePort: 9001
    api:
      type: ClusterIP
      nodePort: 31900
    console:
      type: NodePort
      nodePort: 31901
  persistence:
    enabled: true
    storageClass: ''
    size: 5Gi
  env:
    scheme: https
    bucketName: quotation-book-library
    certsDir: /certs
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
minioMigration:
  enabled: true
  name: quotation-book-minio-migration
  image:
    repository: dev_zone/bitnami/minio-client
    tag: latest
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi
keycloak:
  enabled: true
  name: quotation-book-keycloak
  image:
    repository: dev_zone/redos/ubi7/keycloak-23
    tag: latest
    pullPolicy: IfNotPresent
  service:
    httpsPort: 1443
    https:
      type: NodePort
      nodePort: 31443
  env:
    hostname: localhost
    proxy: edge
    dbUrl: jdbc:postgresql://quotation-book-postgres:5432/keycloak?sslmode=require
    clientUrl: https://localhost:8443
    httpEnabled: false
    httpPort: 8081
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: '1'
      memory: 1Gi
backend:
  enabled: true
  name: quotation-book-backend
  image:
    repository: quotation-book-backend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    port: 5000
    type: NodePort
    nodePort: 30500
  tls:
    enabled: true
  replicaCount: 1
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: '1'
      memory: 1Gi
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 6
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 75
  env:
    sessionCookieSecure: true
    sessionCookieHttpOnly: true
    sessionCookieSameSite: None
    postgresSsl: true
    postgresCacheTtl: 10
    userinfoCacheTtl: 20
    redisSsl: true
    minioSslVerify: true
    caCertPath: /etc/pki/ca-trust/source/anchors/sandbox_ca_root.crt
    keycloakRealm: quotation-book
    keycloakClientId: quotation-book-client
    keycloakRedirectUri: https://localhost:8443/auth/callback
    keycloakExternalHost: localhost
    keycloakExternalPort: '8443'
frontend:
  enabled: true
  name: quotation-book-frontend
  image:
    repository: quotation-book-frontend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8443
    nodePort: 30443
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: false
    minReplicas: 2
    maxReplicas: 6
    targetCPUUtilizationPercentage: 60
    targetMemoryUtilizationPercentage: 75
pgadmin:
  enabled: true
  name: quotation-book-pgadmin
  image:
    repository: dev_zone/dpage/pgadmin4
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 80
    nodePort: 30550
  persistence:
    enabled: true
    storageClass: ''
    size: 1Gi
  env:
    email: admin@admin.com
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 512Mi
observability:
  enabled: true
  java:
    name: quotation-book-java-obs
    image:
      repository: quotation-book-java-obs
      tag: latest
      pullPolicy: IfNotPresent
    service:
      port: 8443
      type: NodePort
      nodePort: 31444
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 512Mi
  javascript:
    name: quotation-book-javascript-obs
    image:
      repository: quotation-book-javascript-obs
      tag: latest
      pullPolicy: IfNotPresent
    service:
      type: NodePort
      port: 3000
      nodePort: 30030
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 512Mi
  dotnet:
    name: quotation-book-dotnet-obs
    image:
      repository: quotation-book-dotnet-obs
      tag: latest
      pullPolicy: IfNotPresent
    service:
      port: 1443
      type: NodePort
      nodePort: 31445
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 512Mi
