global:
  namespace: demo
postgres:
  persistence:
    size: 2Gi
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 768Mi
  service:
    type: NodePort
postgresMigration:
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 256Mi
redis:
  persistence:
    size: 512Mi
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 256Mi
  service:
    type: NodePort
rabbitmq:
  persistence:
    size: 1Gi
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  service:
    type: NodePort
minio:
  persistence:
    size: 2Gi
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 768Mi
  service:
    api:
      type: NodePort
    console:
      type: NodePort
minioMigration:
  resources:
    requests:
      cpu: 25m
      memory: 64Mi
    limits:
      cpu: 150m
      memory: 256Mi
keycloak:
  resources:
    requests:
      cpu: 100m
      memory: 384Mi
    limits:
      cpu: 500m
      memory: 768Mi
  service:
    https:
      type: NodePort
backend:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: NodePort
frontend:
  replicaCount: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
  service:
    type: NodePort
pgadmin:
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 150m
      memory: 256Mi
  service:
    type: NodePort
observability:
  java:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
    service:
      type: NodePort
  javascript:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
    service:
      type: NodePort
  dotnet:
    resources:
      requests:
        cpu: 25m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
    service:
      type: NodePort
